build/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.txt

# Precompiled Headers
*.gch
*.pch1

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pem



massif.* 
server
client